<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/public/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>


<nav class="navbar fixed-top navbar-expand-md flex-nowrap navbar-new-top">
            <a href="/" class="navbar-brand"><img src="#" alt=""/>Registration Form</a>
            <ul class="nav navbar-nav mr-auto"></ul>
            {{!-- <ul class="navbar-nav flex-row"> --}}
                {{!-- <li class="nav-item">
                    <a class="nav-link px-2">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2">Link</a>
                </li>
                <li class="nav-item">
                    <button type="button"  class="header-btn">Button</button>
                </li> --}}
            {{!-- </ul> --}}
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <nav class="navbar fixed-top navbar-expand-md navbar-new-bottom">
            <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">

                <ul class="navbar-nav w-100 justify-content-center px-3">
                    <li class="nav-item active">
                        <a class="nav-link" href="/register">Registration form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">LogIn</a>
                    </li>
                  
            </div>
        </nav>
</body>
</html>